
.vs/*

Dominio.Aplicacion/bin/
Dominio.Aplicacion/obj/
Dominio.Infraestructura/bin/
Dominio.Infraestructura/obj/
Dominio.Model/bin/
Dominio.Model/obj/
MicroServiceContainer/bin/
MicroServiceContainer/obj/
obj/
